* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.myContainer {
    width: 80%;
    height: 100vh;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #f00;
    background-image: url(/assets/image/image_processing20201124-11438-12e4icj.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    object-fit: cover;
    text-align: center;
    border-radius: 10px;
}

.myContainer .btn-Primary {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #0d6efd;
    border: none;
    color: #fff;
    cursor: pointer;
    width: 100%;
    font-size: 2vw;
    text-decoration: none;
    text-align: center;
}

.divStartGame {
    width: 60%;
}

.myContainer .btn-Primary:hover {
    opacity: 0.8;
}

.Container {
    margin: 0px auto;
    background-color: #cdcdcd;
    width: 80%;
    border-radius: 10px;
}

.Container form {
    width: 100%;
    padding: 10px;
    text-align: center;
}

.Container form .submitDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Container form #submit {
    width: auto;
    background-color: #dc3545;
    border: none;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    font-size: 1.5vw;
}

.Container form #submit:hover {
    background-color: #ff4053;
}

.Container form input {
    display: block;
    width: 100%;
    padding: 7px;
    margin: 5px 0px;
}

.Container form input:focus-visible {
    border: #ff4053 solid 2px;
    border-radius: 5px;
    outline: none;
}

.gamerScren {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 20px;
    padding: 10px;
}

.Container .gamerScren .playerImg img {
    width: 100%;
}

.Container .gamerScren .playerData {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.Container .gamerScren .playerData ul {
    list-style: none;
    width: 100%;
}

.Container .gamerScren .playerData ul li {
    /* background-color: #198754; */
    padding: 10px;
}

.Container .gamerScren .playerData ul li .informatinPlayers {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.Container .gamerScren .playerData ul li .informatinPlayers h4 {
    margin: 0px 20px;
}

.Container .gamerScren .playerData ul li .informatinPlayers button {
    padding: 10px;
    border-radius: 100%;
    border: none;
    background-color: #dc3545;
    color: #fff;
    cursor: pointer;
    width: auto;
}

@media (min-width:500px) and (max-width:768px) {
    .gamerScren {
        display: block;
        height: fit-content;
        margin: 0%;
        width: auto;
    }
    .myContainer{
        margin: 0%;
        width: auto;
    }
    .Container{
        margin: 0%;
        width: auto;
    }
}

@media (max-width:500px)  {
    .gamerScren {
        display: block;
        height: fit-content;
        margin: 0%;
        width: auto;
    }
    .myContainer{
        margin: 0%;
        width: auto;
    }
    .Container{
        margin: 0%;
        width: auto;
    }
}