* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.myContainer {
    /* position: relative; */
    width: 100%;
    height: 100vh;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #f00;
    /* background-image: url(/assets/image/image_processing20201124-11438-12e4icj.jpg); */
    background-image: linear-gradient(to left top, #ec6a84, #e5596f, #dd4759, #d33542, #c7212b);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    object-fit: cover;
    text-align: center;
    border-radius: 10px;
    padding-top: 100px;
}



.myContainer .btn-Primary {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #d82738;
    border: none;
    color: #fff;
    cursor: pointer;
    width: 300px;
    /* font-size: 2vw; */
    text-decoration: none;
    text-align: center;
  box-shadow: -2px 9px 13px -2px rgba(0,0,0,0.86);
}

.divStartGame {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    height: 100vh;
}
.divStartGame img{
    
    width: 200px;
}

.divStartGame form{
    margin: 10px;
}


.myContainer .btn-Primary:hover {
    opacity: 0.8;
}

.Container {
    margin: 0px auto;
    background-color: #cdcdcd;
    width: 100%;
    border-radius: 10px;
}

.divStartGame form {
    width: 300px;
    padding: 10px;
    text-align: center;
}

.divStartGame form .submitDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}
.divStartGame form .submitDiv label{
    font-weight: 900;
    /* font-size: 1.5rem; */
    text-align: center;
    color: #fff;

}
/* .divStartGame form #submit {
    width: auto;
    background-color: #dc3545;
    border: none;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    font-size: 1.5vw;
} */

/* .divStartGame form #submit:hover {
    background-color: #ff4053;
} */

.divStartGame form input {
    display: block;
    width: 100%;
    padding: 7px;
    margin: 5px 0px;
}

.divStartGame form input:focus-visible {
    border: #ff4053 solid 2px;
    border-radius: 5px;
    outline: none;
}

.gamerScren {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 20px;
    padding: 10px;
}

.Container {
    display: flex;
    align-items: center;
    height: 100vh;
}

.Container .gamerScren .playerImg {
    display: flex;
    align-items: end;

}
.Container .gamerScren .playerImg img {
    width: 100%;

}

.Container .gamerScren .playerData {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.Container .gamerScren .playerData ul {
    list-style: none;
    width: 100%;
}

.Container .gamerScren .playerData ul li {
    /* background-color: #198754; */
    padding: 10px;
}

.Container .gamerScren .playerData ul li .informatinPlayers {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.Container .gamerScren .playerData ul li .informatinPlayers h4 {
    margin: 0px 20px;
}

.Container .gamerScren .playerData ul li .informatinPlayers button {
    padding: 10px 13px;
    border-radius: 100%;
    border: none;
    background-color: #dc3545;
    color: #fff;
    cursor: pointer;
    width: auto;
}


.gameOver{
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0px auto;
    border-radius: 10px;
}
.gameOver img{
    width: 100%;
    height: 100%;
    object-fit: fill cover;
}

.gameOver::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    border-radius: 10px;

}

@media (min-width:500px) and (max-width:768px) {
    .myContainer .container img{
        width: 290px;
    }
    .gamerScren {
        display: block;
        height: fit-content;
        margin: 0%;
        width: auto;
    }
    .myContainer{
        margin: 0%;
        width: auto;
    }
    .Container{
        margin: 0%;
        width: auto;
    }
    .gameOver{
        margin: 0% ;
        width: auto ;
        height: 100vh ;
    }
}

@media (max-width:500px)  {
    .myContainer .container img{
        width: 290px;
    }
    .gamerScren {
        display: block;
        height: fit-content;
        margin: 0%;
        width: auto;
    }
    .myContainer{
        margin: 0%;
        width: auto;
    }
    .Container{
        margin: 0%;
        width: auto;
    }
    .gameOver{
        margin: 0% ;
        width: auto ;
        height: 100vh ;
    }
}
