* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.containerWorld {
  width: 100vw;
  height: 100%;
  /* height: 100vh; */
  background: url("../assets/image/waP2.jpeg") no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main {
  height: 100vh;
  width: 80vw;
  background: linear-gradient(165deg, #e4e4e4 30%, darkgray 70%);
  display: flex;
  opacity: 0.8;
}
.photoMain {
  display: flex;
}
i {
  font-size: 3rem;
}
#mapPic {
  width: 30rem;
  height: 25rem;
  margin: 2rem 0;
}
.nameLocationBtns,
.map,
.details {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.map {
  flex-direction: column;
}

.nameLocationBtns,
.details {
  flex-direction: column;
}
p {
  font-weight: 500;
  font-size: 2rem;
  color: #000;
}
span {
  /* margin: 1rem !important; */
  font-size: 1.5rem !important;
  color: darkblue !important;
}
.btnLOcation {
  min-width: 13rem;
  height: 3rem;
  margin: 1rem;
  background: #000;
  color: #e4e4e4;
}
.btnLOcation:hover {
  cursor: pointer;
  background: #e4e4e4;
  color: #000;
}

.photoMain {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pluss {
  width: 1rem;
  cursor: pointer;
}
.winGameTitle {
  margin-bottom: 0;
}
.costTitle {
  margin-top: 0;
}

@media (max-width: 1100px) {
  .main {
    flex-direction: column;
    height: 100%;
  }
  #mapPic {
    width: 100%;
  }
  .details {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .nameLocationBtns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: 0;
  }
  .map {
    padding: 3rem;
  }
}
.containPotion {
  position: relative;
}
.countPotion {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: #fff;
}
.goldAmount {
  display: inline-block;
}
#backTostats {
  width: 5rem;
}
#backTostats:hover {
  cursor: pointer;
  opacity: 0.6;
}
